<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxnne.mysides">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity" />

        <receiver android:name=".receiver.NetworkStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".biz.AddFriendService" />

        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.TopicActivity" />
        <activity android:name=".view.MyFriendActivity" />
        <activity android:name=".view.MyProfileActivity" />
        <activity android:name=".view.NearbyTopicActivity" />
        <activity android:name=".view.SettingActivity" />
        <activity android:name=".view.MyMsgActivity" />
        <activity android:name=".view.AddFriendActivity" />
        <activity android:name=".view.PrivateChatActivity"></activity>
    </application>

</manifest>